force-app/main/default/flows/Screen_Log_Writer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Write_Log</name>
        <label>Write Log</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>className</name>
            <value>
                <stringValue>Screen Log Writer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevel</name>
            <value>
                <elementReference>Log_Level</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LogText</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <choices>
        <description>Debug</description>
        <name>Debug</name>
        <choiceText>Debug</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Debug</stringValue>
        </value>
    </choices>
    <choices>
        <name>Error</name>
        <choiceText>Error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Error</stringValue>
        </value>
    </choices>
    <choices>
        <description>Info</description>
        <name>Info</name>
        <choiceText>Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Info</stringValue>
        </value>
    </choices>
    <choices>
        <name>Warn</name>
        <choiceText>Warn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Warn</stringValue>
        </value>
    </choices>
    <description>Writes simple Info log.</description>
    <environments>Default</environments>
    <interviewLabel>Screen Log Writer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Log Writer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Completion_Message</name>
            <fieldText>&lt;p&gt;The log will be written almost immediately. To perform other logging tests, click Finish to restart the flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main</name>
        <label>Main</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Write_Log</targetReference>
        </connector>
        <fields>
            <name>LogText</name>
            <dataType>String</dataType>
            <fieldText>Enter text to log</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Log_Level</name>
            <choiceReferences>Info</choiceReferences>
            <choiceReferences>Debug</choiceReferences>
            <choiceReferences>Warn</choiceReferences>
            <choiceReferences>Error</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Log Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
